page-tabs {
  .tabs .tab-item .icon.home{
      //background-color: blue;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: center;
      background-image: url('../../assets/Logo.png'); 
  }

  .tab-login{
      display: none;
  }
}