<ion-content class = "background" >
  <h1 class = heading>Notifications</h1>
  <ion-card>
    <ion-card-content #scroll>
      <ion-scroll scrollbar-y="true" scrollY="true" style="height:87vh">
      <ion-list>
          <ion-item *ngFor="let notification of notifications" text-wrap no-lines>
              <div class = "user">
                <img [src] ="notification.user?.photoURL" alt="Profile picture">
              </div>
              <div class = "notifContent"> I would like to join your room!
                <button ion-button (click)="Accept(notification)" color = "balanced">Accept</button>
                <button class ="Reject" ion-button (click)="Reject(notification)" color = "danger">Reject</button>
              </div>
              <div class = "name">{{notification.user?.name}}:</div>
            </ion-item>
          <ion-item *ngIf="notifications==0" text-wrap no-lines>
            <strong>
              <h1>No notifications to show</h1>
            </strong>
          </ion-item>
      </ion-list>
    </ion-scroll>
    </ion-card-content>
  </ion-card>

</ion-content>
<!-- .slice().reverse() -->
