page-profile {

    img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        size: 100%;
    }
    ion-card.card{
        background: rgba($color: rgb(232, 230, 230), $alpha: 0.6);
        border-radius: 10px;
        height: 87%;
    }
    .item{
      background: rgba($color: rgb(232, 230, 230), $alpha: 0);
      color:white;
      font-size: 20px;
    }
    p{
        font-size: 20px;
        color:white;
    }

}
