page-profile {

    img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        size: 100%;
    }
    ion-card.card{
        background: rgba($color: rgb(232, 230, 230), $alpha: 0.6);
        border-radius: 10px;
        height: 50%;
    }
    .item{
      background: rgba($color: rgb(232, 230, 230), $alpha: 0);
      color:white;
      font-size: 20px;
    }

    .headerText{
      font-size: 1.5em;
      color: white;
      text-align: left;
    }

}
