page-login {
  .background{
      width:100%;
      height:100%;
      background: linear-gradient(10deg, #4E5EFC, #4EE7FC);
  }
  .scroll-content
  {
      text-align: center;
  }
  ion-card.card{
      background: rgba($color: rgb(232, 230, 230), $alpha: 0.6);
      border-radius: 10px;
  }
  .item{
    background: rgba($color: rgb(232, 230, 230), $alpha: 0);
    color:white;
  }
  ion-input{
      border-bottom: #FD4D73 solid 1px;
  }
  .heading{
      color:white;
      font-size: 3em;
      font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Tebuchet MS', sans-serif;
      font-weight: ligher;
  }
}
